<div class="brand-details">
  <h2>About the Brand</h2>
  <div class="brand-description">
    <p>SVELTE was established in 2014 by Tom Barber. Following the launch, the brand includes a range of ready-to-wear sports and casual wear, with plans to extend into eyewear and luggage. SVELTE reflects a sense of relaxed and timeless elegance, focusing on fine fabrics and the perfect fit. Part of SVELTE’s mission is to support high-end fashion and sportswear manufacturing in the UK.</p>
  </div>
</div>
