<head>

  <link rel="stylesheet" href="/assets/landing.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <script src="//use.typekit.net/yxh3cjv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
<body class="landing-body">

  <section class="col-md-12 landing-wrap">
    <a href="/index"><img class="landing-logo" alt="Svelte-Logo" src="/assets/whitelogo.png"></a>
  </section>

  <section class="col-md-3">
  </section>
  <section class="col-md-6">
    <h2 class="landing-title">￼￼￼￼Premium Cycling Apparel</h2>
    <h2 class="landing-title">Designed & Made In London</h2><br>

      <p class="landing-text">We're creating a premium quality cycling jersey for style-conscious cylists. Men and Women who value quality, craftsmanship and a fair price, over branding.</p><br>

    <p class="landing-text">Manufactured in London, to promote skills being lost from the UK, while guaranteeing that sustainability and fairness is at the heart of every jersey.</p><br>
    <a href="https://www.kickstarter.com/projects/1824189547/quality-cycle-apparel-designed-and-made-in-london"><p class="landing-text kickstarter-link">WE'RE LIVE ON KICKSTARTER</p></a>
    <p class="landing-text">FROM MAY 15th</p>

    <p class="landing-text">Sign up for news and events</p>

    <!-- <input class="landing-input no-bottom"></input>
    <button class="landing-btn no-bottom"><p class="sign-up">SIGN UP</p></button> -->

    <!-- Begin MailChimp Signup Form -->
<form action="//svelte-cycles.us10.list-manage.com/subscribe/post?u=b6bb4e73c81398402cebfe164&amp;id=f5b30b0d10" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Email Address </label>
	<input type="email" value="" name="EMAIL" class="required email landing-input" id="mce-EMAIL"><br>
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
 <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_b6bb4e73c81398402cebfe164_f5b30b0d10" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button landing-btn"></div>
    </div>
</form>

<!--End mc_embed_signup-->
<form action="/index">
    <button class="landing-btn" href="/index">Go To Shopping</button><br>
  </form>

    <section class="landing-social-wrap">
      <a href="https://www.facebook.com/sveltecyclesuk"><img class="landing-social" src="/assets/facebook-01.png"></a>
      <a href="https://instagram.com/sveltecycles"><img class="landing-social" src="/assets/insta-01.png"></a>
      <a href="https://twitter.com/Sveltecyclesuk"><img class="landing-social" src="/assets/twitter-01.png"></a>
    </section>
  </section>

</body>
