<head>

  <link rel="stylesheet" href="/assets/landing.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <script src="//use.typekit.net/yxh3cjv.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
<body class="landing-body">

  <section class="col-md-12 landing-wrap">
    <a href="/index"><img class="landing-logo" alt="Svelte-Logo" src="/assets/whitelogo.png"></a>
  </section>

  <section class="col-md-3">
  </section>
  <section class="col-md-6">
    <h2 class="landing-title">￼￼￼￼Premium Cycling Apparel</h2>
    <h2 class="landing-title">Designed & Made In London</h2><br>

      <p class="landing-text">We're creating a premium quality cycling jersey for style-conscious cylists. Men and Women who value quality, craftsmanship and a fair price, over branding.</p><br>

    <p class="landing-text">Manufactured in London, to promote skills being lost from the UK, while guaranteeing that sustainability and fairness is at the heart of every jersey.</p><br>
    <p class="landing-text">WE'RE LIVE ON KICKSTARTER</p>
    <p class="landing-text">FROM MAY 15th</p>

    <p class="landing-text">Sign up for news and events</p><br>

    <input class="landing-input"></input>
    <button class="landing-btn">SIGN UP</button>

    <button class="landing-btn" href="/index">Go To Shopping</button><br>

    <section class="landing-social-wrap">
      <a href="https://www.facebook.com/sveltecyclesuk"><img class="landing-social" src="/assets/facebook-01.png"></a>
      <a href="https://instagram.com/sveltecycles"><img class="landing-social" src="/assets/insta-01.png"></a>
      <a href="https://twitter.com/Sveltecyclesuk"><img class="landing-social" src="/assets/twitter-01.png"></a>
    </section>
  </section>

</body>
