<section class="col-md-12 title-wrap" style="margin: 0;"> 
  <h4 class="page-name">VIDEO</h4>
</section>

<section class="col-md-12 title-wrap">
  <h4 class="video-title">SPIN London 2014</h4>
</section>

<section class="col-md-12">
  <iframe class="video-placement" src="https://player.vimeo.com/video/90839573" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>
