<section class="col-md-12 title-wrap">
  <h4 class="page-name">EVENTS</h4>
</section>

<section class="col-md-6 event-wrap">
  <section class="col-md-12">
    <img class="event-image" src="/assets/5.jpg">
  </section>
  <section class="col-md-3">
    <h6 class="event-day-month">SUNDAY SEPT</h6>
    <h1 class="event-date">6<span class="event-date-th">th</span></h1>
  </section>
  <section class="col-md-9">
    <h2 class="event-title">TEAM PURSUIT SERIES</h2>
    <h2 class="event-title">HERNE HILL VELODROME</h2>
    <p class="event-description">Open event, teams of four with qualifiers and knock-out races on a classic velodrome.</p>
    <h6 class="event-location">Herne Hill, London, UK.</h6>
  </section>
</section>

<section class="col-md-6 event-wrap">
  <section class="col-md-12">
    <img class="event-image" src="/assets/6.jpg">
  </section>
  <section class="col-md-3">
    <h6 class="event-day-month">FRIDAY MAY</h6>
    <h1 class="event-date">8th</h1>
  </section>
  <section class="col-md-9">
    <h2 class="event-title">SPIN LONDON</h2>
    <h2 class="event-title">THE SORTING OFFICE</h2>
    <p class="event-description">Svelte will be hosting a stall at Spin London for the weekend in the Old sorting office in Holborn. Come down and try out our latest gear</p>
    <h6 class="event-location">Holborn, London, UK.
  </section>
</section>
