<h2 class="page-name">Men | Bottoms</h2>

<% if @mens_bottoms.any? %>
<% @mens_bottoms.each do |bottoms| %>
  <%= link_to bottoms.name, bottom_path(bottoms) %>
  £<%= bottoms.price %>
<% end %>
<% else %>
<p> no bottoms</p>
<% end %>
