.gender-product-image {
  width: 200px;
  height: 299px;
  display: block;
  margin: 0 auto 0 auto;
}

.gender-product-name {
  font-family: "futura-pt", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  text-align: center;
}

.gender-product-price {
  font-family: "futura-pt", sans-serif;
  -webkit-font-smooth: antialiased;
  font-size: 14px;
  text-align: center;
}

.gender-no-items {
  font-family: "futura-pt", sans-serif;
  text-align: center;
  -webkit-font-smooth: antialiased;
  font-size: 18px;
}
