// PAGE WRAPS

.product-top-half {
  height: 100vh;
}

.show-product-name {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  margin: 0;
  font-size: 29px;
}

.show-product-price {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  -webkit-font-smooth: antialised;
  text-align: center;
  margin: 0;
  font-size: 18px;
}

.show-product-tab-text {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  -webkit-font-smooth: antialised;
  font-size: 14px;
}

.show-product-info-text {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  -webkit-font-smooth: antialised;
  font-size: 11px;
  line-height: 161%;
}

.product-tabs {
  height: 16.5%;
}

.name-price-wrap {
  // background-color: red;
  height: 25%;
}

.product-tabs-wrap {
  height: 49.5%;
  // background-color: yellow;
}

.dropdown-wrap {
  height: 25%;
  // background-color: purple;
}

.product-body-wrap {
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

.tab-content {
  text-align: center;
  // background-color: salmon;
  height: 84%;
}

.front-image-wrap {
  // background-color: red;
  height: 400px;
}

.back-image-wrap {
  // background-color: salmon;
  height: 400px;
}

.show-product-image {
  height: 322px;
  width: 214.5px;
  margin: 39px auto 0 auto;
  display: block;
}

.table-width {
  width: 40px;
  text-align: center;
}

.table-width-first {
  width: 120px;
  text-align: center;
}

// INFORMATION SECTION

.info-wrap {
  // background-color: green;
  height: 400px;
  padding: 3rem;
}


ul.list-inline.product-submenu {
  width: 100%;
}

.product-submenu {
  list-style-type: none;
  height: 30px;
  text-align: center;
}

.product-submenu:after {
  display: block;
  clear: both;
  content: '';
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.details-submenu {
  border-bottom: 1.5px solid black;
}

.description-submenu {
  text-decoration: none;
}

.sizing-submenu {
  text-decoration: none;
}

.info-box {
  display: block;
}

.size-wrap {
  width: 49%;
  display: inline-block;
  margin: 0 auto 0 auto;
}

.size-dropdown {
  background-color: black;
  text-align: center;
  width: 95.3px;
  height: 22.5px;
  color: white;
  border: 0;
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 12px;
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
}

.add-to-bag {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: "futura-pt", sans-serif;
  border: 0;
  width: 95.3px;
  height: 22.5px;
  font-size: 12px;
  border-radius: 0.5rem;
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
}

.add-to-wrap {
  width: 49%;
  display: inline-block;
}

.button-wrap {
  width: 100%;
  // background-color: yellow;
  height: 60px;
}

.down-arrow {
  display: block;
  margin: 7.5px auto 0 auto;
  background-color: #8E8E87;
  border-radius: 10rem;
  height: 20px;
  width: 20px;
  z-index: 100;

}

.hover-body-wrap {
  background-image: url('https://s3.amazonaws.com/sveltewebsite/home_background_1.JPG');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  width: 100%;
  margin-top: 4rem;
  position: relative;
}


// TABS

.tab {
  display: none;
}

.tab.active {
  display: block;
}

// TEXT

.page-name {
  font-family: "futura-pt",sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  padding: 0 0 0 2rem;
}

.description-text {
  font-size: 18px;
  font-family: "futura-pt", sans-serif;
  text-align: center;
  // height: 300px;
}

.underline {
  border-bottom: 1.5px solid black;
}

.rightline {
  border-right: 1.5px solid black;
}

// TABLE

.table-position {
  display: none;
  margin: auto auto auto auto;
}

.tab3 {
  display: block;
  margin: auto;
}

.table-cell {
  width: auto;
  height: auto;
  text-align: center;
}

.table-body-column {
  // font-weight: bold;
  height: 10px;
}


// CAROUSEL

.single-item {
  left: 0;
}

.slideshow-image {
  height: 525px;
  width: 100%;
}

#product-carousel {
  margin-top: 2rem;
}

.slideshow-slide.slick-slide {
  height: 80rem;
}

.slideshow-image {
  height: 80rem;
}

.up-button-wrap {
  margin: 10rem 0 0 0;
}


// HOVER INFO SECTION
