// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===================HOME CAROUSEL===================*/
.carousel {
  height: 60em;
  z-index: 1;
}

.carousel-inner>.item>img {
  min-width: 100%;
  height: 60em;
  z-index: 1
}
